## 2つの前処理済みデータを結合して、1つの時系列データに。

In [23]:
import pandas as pd

# import raw dataframe
raw_df1 = pd.read_csv('/Users/koki/PycharmProjects/MasterThesis/data/preprocessed/201601to201912_10areas_for_analysis.csv')
raw_df2 = pd.read_csv('/Users/koki/PycharmProjects/MasterThesis/data/preprocessed/202001to202309_10areas_for_analysis.csv')

print(raw_df1.shape)
print(raw_df2.shape)

(11688, 66)
(10952, 66)

In [24]:
df = pd.concat([raw_df1, raw_df2])
print(df.shape)
df

(22640, 67)

,datetime,渋谷駅_total,新宿駅_total,町田駅_total,川崎駅_total,立川駅_total,八王子駅_total,北千住駅_total,東京駅_total,赤羽駅_total,...,東京_weather_雷電,八王子_rainfall,八王子_temperature,八王子_windspeed_value,八王子_sunshine_hours,N225_Close,Cases_Tokyo,東京_緊急事態,東京_まん防,東京_weather_霧雨
0,2016-01-01 00:00:00,35355,12141,14725,17493,10177,12231,11088,5839,13977,...,0,0.0,1.5,1.8,0.0,18450.98,0.0,0,0,NaN
1,2016-01-01 03:00:00,28498,12368,14351,17447,9992,10735,11248,6329,14161,...,0,0.0,1.1,4.1,0.0,18450.98,0.0,0,0,NaN
2,2016-01-01 06:00:00,17156,11814,13452,17407,9351,10595,10763,13130,13327,...,0,0.0,-1.1,1.7,0.0,18450.98,0.0,0,0,NaN
3,2016-01-01 09:00:00,17727,18039,14696,24128,12199,11015,11835,18117,14174,...,0,0.0,5.2,1.2,1.0,18450.98,0.0,0,0,NaN
4,2016-01-01 12:00:00,26222,24975,17675,31771,16030,12370,12966,23981,15539,...,0,0.0,10.8,2.0,1.0,18450.98,0.0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10947,2023-09-30 09:00:00,35347,42090,21798,28723,25356,17428,17618,37380,20538,...,0,0.0,24.7,1.8,0.0,31857.62,0.0,0,0,0.0
10948,2023-09-30 12:00:00,84314,92850,36892,44786,47068,24358,27022,71237,26053,...,0,0.0,24.0,0.8,0.0,31857.62,0.0,0,0,0.0
10949,2023-09-30 15:00:00,110158,113744,41491,49685,52116,25661,29211,78514,29550,...,0,0.0,26.4,2.7,0.0,31857.62,0.0,0,0,0.0
10950,2023-09-30 18:00:00,112153,106017,41137,47749,48999,26222,31059,65990,30933,...,0,0.0,25.3,4.8,0.0,31857.62,0.0,0,0,0.0
10951,2023-09-30 21:00:00,81263,60806,31509,33995,31852,22177,23761,36934,33557,...,0,0.0,22.9,1.0,0.0,31857.62,0.0,0,0,0.0

In [25]:
df.columns

Index(['datetime', '渋谷駅_total', '新宿駅_total', '町田駅_total', '川崎駅_total',
       '立川駅_total', '八王子駅_total', '北千住駅_total', '東京駅_total', '赤羽駅_total',
       '自由が丘駅_total', 'official_holiday', 'unofficial_holiday', 'month_1',
       'month_10', 'month_11', 'month_12', 'month_2', 'month_3', 'month_4',
       'month_5', 'month_6', 'month_7', 'month_8', 'month_9', 'hour_0',
       'hour_12', 'hour_15', 'hour_18', 'hour_21', 'hour_3', 'hour_6',
       'hour_9', 'dow_Fri', 'dow_Mon', 'dow_Sat', 'dow_Sun', 'dow_Thu',
       'dow_Tue', 'dow_Wed', 'heavy_rain', '東京_rainfall', '東京_temperature',
       '東京_dew_point_humidity', '東京_humidity', '東京_windspeed_value',
       '東京_sunshine_hours', '東京_global_solar_radiation', '東京_snowfall',
       '東京_weather_みぞれ', '東京_weather_快晴', '東京_weather_晴れ', '東京_weather_曇',
       '東京_weather_氷あられ', '東京_weather_薄曇', '東京_weather_雨', '東京_weather_雪',
       '東京_weather_雷電', '八王子_rainfall', '八王子_temperature',
       '八王子_windspeed_value', '八王子_sunshine_hours', 'N225_Close',
       'Cases_Tokyo', '東京_緊急事態', '東京_まん防', '東京_weather_霧雨'],
      dtype='object')

In [26]:
df['東京_weather_氷あられ'] = df['東京_weather_氷あられ'].fillna(0).astype(int)
df['東京_weather_氷あられ'].value_counts()

0    22637
1        3
Name: 東京_weather_氷あられ, dtype: int64

In [27]:
df['東京_weather_霧雨'] = df['東京_weather_霧雨'].fillna(0).astype(int)
df['東京_weather_霧雨'].value_counts()

0    22621
1       19
Name: 東京_weather_霧雨, dtype: int64

In [28]:
df.isna().sum().sum()

0

In [29]:
# use datetime as index
df = df.set_index('datetime', drop=True)

In [30]:
# df.to_csv('/Users/koki/PycharmProjects/MasterThesis/data/preprocessed/201601to202309_10areas_for_analysis.csv', encoding='utf-8')